# Local .terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup

# Crash logs
crash.log
crash.*.log

# Terraform lock file
.terraform.lock.hcl

# Provider plugins
terraform-provider-*

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
*.tfvars
*.auto.tfvars
